[project]
[access "refs/*"]
  read = group rpmfactory-core
  owner = group rpmfactory-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group rpmfactory-core
	label-Verified = -2..+2 group rpmfactory-ptl
	label-Workflow = -1..+1 group Registered Users
	label-Workflow = -1..+1 group rpmfactory-core
	submit = group rpmfactory-ptl
	read = group Registered Users
    read = group rpmfactory-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group rpmfactory-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
