- job:
    name: 'package-validate'
    defaults: global
    builders:
      - base-pkg-validation:
          buildtarget: "dist-centos7"
      - shell: |
          sudo yum -y install /home/jenkins/rpmbuild/RPMS/noarch/rpmfactory-temp-release-1.0-1.noarch.rpm
          yum search p1
          sudo yum -y install p1
    triggers:
      - zuul
    wrappers:
      - credentials-binding:
        - file:
           credential-id: {{ cb_result.stdout }}
           variable: CLIENTSECRET
    node: rpmfactory-base-worker

- job:
    name: 'package-export'
    defaults: global
    builders:
      - base-pkg-exportation:
          buildtarget: "dist-centos7"
      - shell: |
          echo "Simulate export ..."
          echo "Exported !"
    triggers:
      - zuul
    wrappers:
      - credentials-binding:
        - file:
           credential-id: {{ cb_result.stdout }}
           variable: CLIENTSECRET
    node: rpmfactory-base-worker
