- job:
    name: 'package-validate'
    defaults: global
    builders:
      - base-pkg-validation:
          buildtarget: "dist-centos7"
      - shell: |
          echo "Passed !"
    triggers:
      - zuul
    wrappers:
      - credentials-binding:
        - file:
           credential-id: {{ cb_result.stdout }}
           variable: CLIENTSECRET
    node: rpmfactory-base-worker

- job:
    name: 'package-export'
    defaults: global
    builders:
      - base-pkg-exportation:
          buildtarget: "dist-centos7"
      - shell: |
          echo "Simulate export ..."
          echo "Exported !"
    triggers:
      - zuul
    wrappers:
      - credentials-binding:
        - file:
           credential-id: {{ cb_result.stdout }}
           variable: CLIENTSECRET
    node: rpmfactory-base-worker
